body {
  color: #302012;
  /*background-color: #fffbf2;*/
  background-color: #fffcf4;
  font-size: 20px;
}

a {
  color: #295b87;
}
a:visited {
  color: #295b87;
}

.mainText {
  text-indent: 30px;
  margin: 9%;
  padding-left: 150px;
  font-family: 'Alegreya', serif;
}

.title {
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Lora', serif;
}

.titlePictures {
  border: 4px solid #302012;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sideNav {
  /*display: inline-block;*/
  position: fixed;
  background-color: #ede1b8;
  color: #302012;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  padding: 10px;
  border: 2px solid #302012;
}

.turnPageRight {
  text-align: right;
  display: inline-block;
}

.turnPageLeft {
  text-align: left;
  display: inline-block;
}

.poem {
  margin-left: 50px;
  width: 400px;
  font-style: italic;
  text-align: center;
}
